<h1>Workspace with ngrx</h1>
<h2>Current workspace id: {{ selectedWorkspaceId }}</h2>
<div class="workspace-actions">
  <div>
    <span>Select a workspace</span> 
    <select #selecteddWorkspace (change)="setCurrentWorkspace(selecteddWorkspace.value)">
      <option *ngFor="let workspace of workspaces$ | async" [selected]="workspace.id ==  selectedWorkspaceId" value="{{ workspace.id }}">{{ workspace.id }}</option>
    </select>
  </div>
</div>
<hr>
<div *ngFor="let workspace  of workspaces$ | async" [ngClass]="{'workspace-wrapper': true,'current': workspace.id ==  selectedWorkspaceId}">
  <div>
    <button (click)="closeWorkspace(workspace.id)">X</button>
  </div>
  <app-tab [tab]="workspace.primaryTab" [type]="'primary'" [classList]="['tab', 'tab-primary']"></app-tab>

  <app-tab [tab]="workspace.secondaryTab" [type]="'secondary'" [classList]="['tab', 'tab-secondary']"></app-tab>
</div>  
<hr>
<div class="commands">
  <form #f="ngForm" (ngSubmit)=onSubmit(f.value)>
      <fieldset>
        <legend>Add a tab item into workspace</legend>
        <label for="name">Name: <input id="name" name="name" type="text" ngModel required></label><br/>
        <label for="url">Href: <input id="url" name="url" type="url" ngModel required></label><br/>
        <label for="type">Type: </label><select name="type" id="type" ngModel required>
          <option value="primary">Primary</option>
          <option value="secondary">Secondary</option>
        </select><br>
        <label for="classNamet">Class Name: <input type="text" name="className" ngModel></label><br><br>
        <button type="submit">Add into the current workspace</button>
    </fieldset>
  </form>
</div>
<hr>
<button (click)="addWorkspace()">Add A New Workspace</button>
<br><br>